@import url('https://fonts.googleapis.com/css2?family=Aleo:ital@1&display=swap');

.aboutus_txt{
    background: url(images/avion.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    height: 70vh;
    opacity: 87%;
    margin-top: 90px;
}

.aboutus_txt h1{
    font-family: 'Playfair Display', serif;
    color:#ebede4;
    font-size:55px;
    font-weight: 200;
    width: 100%;
    text-align: center;
    padding-top: 10%;
    vertical-align: middle;  
    
}

.aboutus_txt p{
    font-family: 'Aleo', serif;
    color:#ebede4;
    font-size:13px;
    letter-spacing: 2px;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    font-weight: 250;
    top: 50%;
    margin-top: 40px;
    padding-left: 25%;

}

.navigation{
    color:#5b7782;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin: 0px;
    font-family: 'Arbutus Slab';
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 20px;
}

 /*FOOTER*/
 .footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:20px;
    padding-left: 50px;
    background-color: #89a3ad;
    padding-right: 50px;
}

.bordure{
    width: 70px;
    height: 2px;
    background-color: blanchedalmond;
    margin-top: 8px;
  
}

.contacts h2, .aboutus h2, .credit h2, .efrei h2 {
    color: blanchedalmond;
    font-size: 27px;
    font-family: 'Arbutus Slab';
    font-weight: 100;
}
.nav_footer i{
    font-size: 40px;
    color: white;
    margin-left: 20px;
}

.nav_footer li i:hover{
    transition: all 0.3s ease 0s;
    color: #57729c;
}


.nav_footer li a:hover{
    transition: all 0.3s ease 0s;
    color: #57729c;
}


.nav_footer li{
    list-style: none;
    font-family: 'Arbutus Slab';
    margin-left: -38px;
    padding-bottom: 10px;
}

.nav_footer a{
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    pointer-events: auto;
    margin-left: 20;
}

.aboutus button{
    background-color: #64748c;
    color: white;
    border-radius: 10px 100px / 120px;
    border:none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Arbutus Slab';
    transition: all 0.3s ease 0s;
}

.aboutus button:hover{
    background-color: #57729c;
    color: #e1e7f0;
}

.credit p{
    font-family: 'Arbutus Slab';
    color: white;
    font-size: 20px;
    line-height: 2.5;
}

.efrei img{
    width: 180px;
    height: 70px;
    margin-top: 15px;
    margin-right: 10px;
}

.efrei img:hover{
    background-color: #57729c;
}


/*MENU BUTTON*/

.menu-btn{
  transition: 0.4s;
  color: white;
  font-size: 40px;
  cursor: pointer;
  display: none;
  
}

.menu-btn:hover{
  color: #89a3ad;
}

.menu-btn{
  float: right;
  top: 10%;
  margin-right: 50px;
}


#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

@media screen and (max-width: 900px) {
  .menu-btn{
      display: block;
  
  }

  .menu{
      position: absolute;
      width: 100%;
      height: 60%;
      right: -100%;
      top: 80px;
      background: #333;
      line-height: normal;
      transition: 0.7s;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;

  }

  .navigation{
      display: block;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      margin: 10px;
      overflow: hidden;
  }

  .navigation:hover{
      color: #89a3ad;
      border-bottom: hidden;
  }

  .menu-btn{
      position: absolute;
      top: 30px;
      color: #144f66;
      right: -20px;
      
  }

  #chk:checked ~ .menu{
      right: 0;
  }
}


html{
    box-sizing: border-box;
    font-size: 62.5%;
}

main{
    background-color: white;
    font-family: 'Arbutus Slab';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.grid{
    display: grid;
    width: 120em;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    align-items:start;
    margin-top: 3rem;
    margin-bottom: 3rem;

}


.grid-item {
    background-color: LightSteelBlue;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgb(0,0,0,0.1);
    cursor: pointer;
    transition: 0.2s; 
}

.grid-item:hover{
    transform : translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgb(0, 0, 0, 0.5);
}

.card-image-aurelia{
    display: block;
    width: 100%;
    height: 35rem;
    object-fit: cover;
}

.card-image-william{
    display: block;
    width: 100%;
    height: 34rem;
    object-fit: cover;
}


.card-image-sophie{
    display: block;
    width: 100%;
    height: 35rem;
    object-fit: cover;
}


.card-content{
    padding: 1rem;
    font-size: 3rem;
    
    
}

.card-header{
    font-size : 3rem;
    font-weight: 500;
    color: black;
    margin-bottom: 2rem;
    margin-left: 8rem;
}

.function{
    font-size : 1.8rem;
    margin-left: 1rem;
}

.card-text{
    font-size: 1.5rem;;
    font-weight: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color:black;
    margin-bottom: 2.5rem;

}

.card-button{
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: slategray;
    background-color: lavender;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;

}

.card-button span{
    margin-left: left 1rem;
    transition: 0.2s;
}

.card-button :hover,
.card-button  :active {
    background-color: lightcoral;

}

.card-button  :hover span,
.card-button  :active span {
    margin-left: 1.5rem;
}



@media only screen and (max-width:60em){
    body{
        padding: 3rem;
    }
    .grid{
        grid-gap: 3rem;
    }
}

a{
    text-decoration: none;
}

